

*{box-sizing:border-box;}
header{grid-area: cabeçalho;z-index: 3;}
section{grid-area: seção;
    display: grid;grid-template-columns: 350px 1fr 400px;margin: 0 20px;z-index: 2;}
    @media (max-width:1350px) {section{display:grid;grid-template-rows: 1fr 1fr 250px;grid-template-columns:none;margin: 0;}}
footer{grid-area: rodape;}

body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'cabeçalho'
    'seção'
    'rodape'           
    ;
}


/*-----Cabeçalho-----*/

.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    flex-wrap: nowrap;
}

.toggle{display: none}       
.checkbox{display: none;}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-grow: 10; 
    margin-left: 60px;}
.menu a{
    color: #C1272D;
    text-decoration: none;
    font-family: 'Square721 Cn BT';
    font-size: 25px;
    margin: 0 10px;
    margin-top: 6px;
}
    
.traço{color: #D0BB77;font-size: 40px;}

.Logo img{height: 100px;width: 100%;}

@media (max-width:1350px) {
.cabeçalho{align-items: baseline;bottom: 40px;position: relative;}
.checkbox:checked ~ nav {display: none;transition: 5ms;}
.toggle{display: inline-block;font-size: 80px;color:#C1272D;cursor: pointer;}
.checkbox:checked ~ nav{
    display: flex;
    flex-direction: column; 
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start; 
    background-color: white;
    border: solid 5px #C1272D; 
    padding: 30px;
    transition: 5ms;
    border-radius: 10px;margin-top: 180px;}
.checkbox{display: none;transition: 5ms;}

.menu{display: none;}
.menu a{color: #C1272D;text-decoration: none;font-family: 'Square721 Cn BT';font-size: 230%;margin: 20px 0;}
.traço{display:none}

.Logo img{height: 100px;width: 100%;}
}

/*------Rodapé-----*/

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
    width: 100%;
}
.text1{
    max-width: 200px;
    font-size: 9pt;
    margin-right: 50px;
    margin-bottom: 10px;

}
.text1 a {
    text-decoration: none;
    color: white;
}

.text2{
    display: block;
    max-width: 180px;
    font-size: 9pt;
    margin-right: 50px;
    margin-bottom: 10px;
}

.text4{
    display: block;
    max-width: 150px;
    font-size: 9pt;
    margin-right: 50px;
    margin-bottom: 10px;
}

.text5{
    display: inline-block;
    font-size: 9pt;
    max-width: 300px;
    margin-bottom: 10px;
}

.text5 img{
    display: inline-block;
    height: 100px;
    width: 100%;
}

.text6{
    display: inline-block;
    font-size: 11pt;
    max-width: 95px;
    margin-bottom: 60px;
    margin-left: 20px;
}
.text6 img{
    display: inline-block;
    margin: 0;
    height: 20%;
    width: 30%;
}

@media (max-width:1350px) {
    .rodape{display: flex;flex-direction: column;flex-wrap: wrap;justify-content: center;align-items: center;}
    .text1,.text2,.text4,.text5,.text6,.text7{white-space: nowrap;font-size: 120%;margin:5px 0px}
    .text6 img{height: 100px;width: 100%;margin-bottom: 10px;}

    body{grid-template-rows: 150px 1fr auto;}
}